<section class="skin-care-landing">
  <nav class="trust-ticker">
    <div class="grid-container">
      <div class="trust-ticker__container">
        {{#each ticker}}
        <h2 class="trust-ticker__item">{{name}}</h2>
        {{/each}}
      </div>
    </div>
  </nav>
  <div class="benefits">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell benefits__content">
          <h2 class="benefits__title">
            Daily Benefits.<br />Long-Term Results
          </h2>
          <p class="benefits__subtitle">We started D1 because....</p>
        </div>
      </div>
      <div class="grid-x grid-padding-x small-up-1 medium-up-3 benefits__grid">
        <div class="cell benefits__item">
          <div class="benefits__image-wrapper">
            <img
              src="assets/img/Bitmap-13.jpg"
              alt="Confident look"
              class="benefits__img"
            />
          </div>
          <h3 class="benefits__item-title">Look Fresher and More Confident</h3>
          <p class="benefits__description">
            Prevent and reduce fine lines and wrinkles that develop with dry
            skin as you age.
          </p>
        </div>
        <div class="cell benefits__item">
          <div class="benefits__image-wrapper">
            <img
              src="assets/img/Bitmap-12.jpg"
              alt="Skin maintenance"
              class="benefits__img"
            />
          </div>
          <h3 class="benefits__item-title">
            Prevent Aging and Maintain Youthful Skin
          </h3>
          <p class="benefits__description">
            Prevent and reduce fine lines and wrinkles that develop with dry
            skin as you age.
          </p>
        </div>
        <div class="cell benefits__item">
          <div class="benefits__image-wrapper">
            <img
              src="assets/img/Bitmap-14.jpg"
              alt="Skin health boost"
              class="benefits__img"
            />
          </div>
          <h3 class="benefits__item-title">Boost Your Skin Health</h3>
          <p class="benefits__description">
            Prevent and reduce fine lines and wrinkles that develop with dry
            skin as you age.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
