<section class="formulas">
  <div class="grid-container">
    <div class="grid-x grid-padding-x text-center align-center">
      <div class="cell small-12">
        <span class="formulas__badge">Just 1 minute a day</span>
        <h2 class="formulas__main-title">Three Perfect Formulas</h2>
        <p class="formulas__main-subtitle">
          A <u>game changer</u> for your skin
        </p>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-middle formulas__row">
      <div class="cell small-12 medium-5 medium-offset-1 formulas__content">
        <h3 class="formulas__item-title">Charcoal<br />Face Wash</h3>
        <p class="formulas__description">
          Omne animal, simul atque haec putat, ut labore et impetus quo voluptas
          nulla pariatur? at magnum periculum adiit in quo quaerimus.
        </p>
      </div>
      <div class="cell small-12 medium-5 text-center">
        <img
          src="assets/img/Group.png"
          alt="Charcoal Face Wash"
          class="formulas__product-img"
        />
      </div>
    </div>
    <div
      class="grid-x grid-padding-x align-middle formulas__row formulas__row--reverse"
    >
      <div
        class="cell small-12 medium-5 medium-offset-1 medium-order-2 formulas__content"
      >
        <h3 class="formulas__item-title">All Day Face<br />Moisturizer</h3>
        <p class="formulas__description">
          Omne animal, simul atque haec putat, ut labore et impetus quo voluptas
          nulla pariatur? at magnum periculum adiit in quo quaerimus.
        </p>
      </div>
      <div class="cell small-12 medium-5 medium-order-1 text-center">
        <img
          src="assets/img/Moisturizer Copy.png"
          alt="All Day Face Moisturizer"
          class="formulas__product-img"
        />
      </div>
    </div>
    <div class="grid-x grid-padding-x align-middle formulas__row">
      <div class="cell small-12 medium-5 medium-offset-1 formulas__content">
        <h3 class="formulas__item-title">Daily Eye<br />Cream</h3>
        <p class="formulas__description">
          Omne animal, simul atque haec putat, ut labore et impetus quo voluptas
          nulla pariatur? at magnum periculum adiit in quo quaerimus.
        </p>
      </div>
      <div class="cell small-12 medium-5 text-center">
        <img
          src="assets/img/Eye Stick.png"
          alt="Daily Eye Cream"
          class="formulas__product-img"
        />
      </div>
    </div>
    <div class="testimonials">
      <div class="grid-x grid-padding-x text-center">
        <div class="cell small-12">
          <p class="testimonials__intro">Here is what our customers say</p>
        </div>
      </div>
      <div class="grid-x grid-padding-x small-up-1 medium-up-3">
        <div class="cell">
          <div class="testimonials__card">
            <img
              class="testimonials__stars"
              src="assets/img/stars-1.svg"
              alt="Testimonials Stars"
            />
            <p class="testimonials__text">
              "The testosterone support my <br />
              daily regimen has needed for <br />
              ages! I haven't felt this young in years."
            </p>
            <div class="testimonials__author">
              <img
                class="testimonials__initials"
                src="assets/img/ET.png"
                alt="Testimonials Initials"
              />
              <div class="testimonials__meta">
                <span class="testimonials__name">Eric Trexler</span>
                <span class="testimonials__title"
                  >Men's Wellness Influencer</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="testimonials__card">
            <img
              class="testimonials__stars"
              src="assets/img/stars-1.svg"
              alt="Testimonials Stars"
            />
            <p class="testimonials__text">
              "Exactly the kind of testosterone <br />
              support my routine has been <br />
              missing. Appreciate it, Joymode — <br />
              renewal is a no-brainer."
            </p>
            <div class="testimonials__author">
              <img
                class="testimonials__initials"
                src="assets/img/ET.png"
                alt="Testimonials Initials"
              />
              <div class="testimonials__meta">
                <span class="testimonials__name">Ben Steelheart</span>
                <span class="testimonials__title"
                  >PH.D., Human Movement Science
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="testimonials__card">
            <img
              class="testimonials__stars"
              src="assets/img/stars-1.svg"
              alt="Testimonials Stars"
            />
            <p class="testimonials__text">
              "I dont miss a day without it now. <br />
              This is the best stuff on the <br />
              market for sure!"
            </p>
            <div class="testimonials__author">
              <img
                class="testimonials__initials"
                src="assets/img/ET.png"
                alt="Testimonials Initials"
              />
              <div class="testimonials__meta">
                <span class="testimonials__name">Harrisaon Rockwell</span>
                <span class="testimonials__title"
                  >Men's Wellness Influencer</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
