<section class="hero">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-middle">
      <div class="cell small-12 medium-6 medium-order-1 hero__content">
        <h1 class="hero__title">
          Skincare for guys <br />
          that aren't into <br />
          skincare
        </h1>
        <p class="hero__subtitle">TRY THE ONE MINUTE SKINCARE ROUTINE</p>
        {{> buttons label="Try Today!" color="btn--yellow" size="btn--lg"}}
        <div class="hero__testimonial testimonial">
          <img
            class="testimonial__stars"
            src="assets/img/Combined Shape Copy.svg"
            alt="Stars"
          />
          <span class="testimonial__quote">
            "I love this stuff, it totally <br />
            changed the game for me"
          </span>
          <div class="testimonial__author">
            <img
              class="testimonial__avatar"
              src="assets/img/Bitmap Copy 12.png"
              alt="icon"
            />
            <span class="testimonial__name">PETER S.</span>
          </div>
        </div>
      </div>
      <div
        class="cell small-12 medium-6 medium-order-2 hero__image-container text-center"
      >
        <img
          class="hero__image"
          src="assets/img/Group 18.png"
          alt="D1 Skincare Products"
        />
      </div>
    </div>
  </div>
</section>
