<section class="routine">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-middle">
      <div class="cell small-12 text-center">
        <div class="routine__badge">
          Just <u>one minute</u> a day will make your skin look healthier and
          younger
        </div>
      </div>
      <div class="cell small-12 medium-6 routine__content">
        <h1 class="routine__title">
          A simple <br />
          routine that <br />
          works
        </h1>
        <p class="routine__description">
          Say goodbye to complicated skincare routines. Our <br />
          mens' skincare line is designed for simplicity and <br />
          effectiveness. With our lightweight formulas, you <br />
          can achieve healthier and younger-looking skin <br />
          with minimal effort. Perfect for guys who are new <br />
          to skincare or just want to keep it simple.
        </p>
        <ul class="routine__list no-bullet">
          <li class="routine__list-item">Lightweight formulas</li>
          <li class="routine__list-item">Easy to use formats</li>
          <li class="routine__list-item">Clean Ingredients</li>
          <li class="routine__list-item">
            Everything you need, nothing you don't
          </li>
        </ul>
      </div>
      <div class="cell small-12 medium-6 routine__image-container">
        <img
          class="routine__product-img"
          src="assets/img/Group 6 Copy.png"
          alt="Routine"
        />
      </div>
      <div class="cell small-12">
        <div class="routine__science-wrapper">
          <ul class="routine__science-list no-bullet">
            <li class="routine__science-item">
              <img src="assets/img/Group 6.png" alt="Skies" />
              <span>Cutting-edge<br />Korean Skincare<br />Technology</span>
            </li>
            <li class="routine__science-item">
              <img src="assets/img/Group 6 Copy 2.png" alt="Water Flow" />
              <span>Science-backed<br />Ingredients</span>
            </li>
            <li class="routine__science-item">
              <img src="assets/img/Group 6 Copy 3.png" alt="Leaves" />
              <span>Dermatologically<br />Tested</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="cell small-12 text-center">
        <p class="routine__how-wrapper">Here’s how D1 works</p>
        <div class="routine__how-icon">
          <img src="assets/img/clock.svg" alt="Stopwatch" />
        </div>
        <h2 class="routine__how-header">JUST <span>1</span> MINUTE A DAY</h2>
      </div>
      <div class="cell small-12">
        <div class="grid-x grid-margin-x routine__steps">
          <div class="cell small-12 medium-4 routine__step-item">
            <div class="routine__step-image-wrapper">
              <span class="routine__step-number">1</span>
              <img
                src="assets/img/Bitmap-9.jpg"
                alt="Cleaning face"
                class="routine__step-img"
              />
            </div>
            <div class="routine__step-details">
              <img
                src="assets/img/product/cleanser.png"
                alt="Cleanser"
                class="routine__step-product"
              />
              <p class="routine__step-text">
                Wash your face with <br />
                our Bamboo Charcoal <br />
                Cleanser
              </p>
            </div>
          </div>
          <div class="cell small-12 medium-4 routine__step-item">
            <div class="routine__step-image-wrapper">
              <span class="routine__step-number">2</span>
              <img
                src="assets/img/Bitmap-10.jpg"
                alt="Moisturizing"
                class="routine__step-img"
              />
            </div>
            <div class="routine__step-details">
              <img
                src="assets/img/product/moisturizer.png"
                alt="Moisturizer"
                class="routine__step-product"
              />
              <p class="routine__step-text">
                Apply a dime size amount <br />
                of All Day Moisturizer evenly
                <br />
                to your face
              </p>
            </div>
          </div>
          <div class="cell small-12 medium-4 routine__step-item">
            <div class="routine__step-image-wrapper">
              <span class="routine__step-number">3</span>
              <img
                src="assets/img/Bitmap-11.jpg"
                alt="Eye Cream"
                class="routine__step-img"
              />
            </div>
            <div class="routine__step-details">
              <img
                src="assets/img/product/stick.png"
                alt="Eye Cream"
                class="routine__step-product"
              />
              <p class="routine__step-text">
                Apply small amount of <br />
                our Eye Cream under your <br />
                eyes and around the <br />
                sides
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
