.btn {
  @include button; // Pulls in Foundation's core functional styles
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition:
    background-color 0.25s ease-out,
    color 0.25s ease-out,
    transform 0.1s ease;

  &--sm {
    font-size: 0.7rem;
    padding: 0.5rem 1.2rem;
  }

  &--md {
    font-size: 0.875rem;
    padding: 0.75rem 1.25rem;
  }

  &--lg {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  // Active state feel
  &:active {
    transform: translateY(1px);
  }

  // Element Modifier: Shape
  &--pill {
    border-radius: 100px;
    max-width: 100%;
    letter-spacing: 1px;
  }

  // Element Modifier: Yellow Color
  &--yellow {
    background-color: #ffb400;
    color: #000;

    &:hover,
    &:focus {
      background-color: #e5a100;
      color: #000;
    }
  }

  // Element Modifier: Navy Color
  &--navy {
    background-color: #262c38;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #1a1f28;
    }
  }

  // Element Modifier: Black
  &--black {
    background-color: #22262a;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #000;
    }
  }

  &__old-price {
    text-decoration: line-through;
    opacity: 0.4;
    margin-left: 8px;
    font-weight: 400;
  }
}
