.ingredients {
  padding: 5rem 0;
  background-color: #f4f7f9; // Light blue tint

  &__title {
    font-weight: 900;
    font-size: 2.9rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
  }

  &__badge {
    display: inline-block;
    background-color: $brand-yellow; // Ensure this variable is in your _settings.scss
    padding: 1.2rem 1.6rem;
    border-radius: 50px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: black;
  }

  &__grid {
    margin-top: 1rem;
  }
}
