.one-minute {
  &__hero {
    position: relative;
    background-image: url("../img/AdobeStock_450000130-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    // This ensures the whole height of the hero is visible
    min-height: 900px;
    display: flex;
    align-items: center;

    @include breakpoint(small only) {
      min-height: 400px;
      background-position: 25% center; // Shifts image so the face is visible on mobile
    }
  }

  &__hero-title {
    color: $white;
    font-weight: 900;
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    line-height: 1.1;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
  }
}
