$font-weight-black: 800;

.product-set {
  padding: 5rem 0;
  background-color: #fff;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);

  &__badge {
    display: inline-block;
    background-color: $brand-yellow;
    padding: 0.4rem 1.2rem;
    border-radius: 50px;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    color: black;
  }

  &__title {
    font-weight: $font-weight-black;
    font-size: 2.8rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: $font-family-inter;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: normal;
    max-width: 450px;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  }

  &__features {
    padding: 1.5rem 0;
  }

  &__feature-item {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    margin-bottom: 0.75rem;

    &::before {
      content: "";
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background-image: url("../img/Group 5 Copy 2-2.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    // Slight padding to ensure products don't hit edge on tablet
    padding: 2rem;
  }
}

@media screen and (max-width: 639px) {
  .product-set {
    text-align: center;

    &__description {
      max-width: 100%;
    }

    &__features {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
