.results {
  padding: 80px 0;
  background-color: #eff7fa;

  &__title {
    font-weight: 900;
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 2rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
  }

  &__content {
    max-width: 750px;
    margin: 0 auto;

    p {
      font-size: 0.95rem;
      line-height: 1.6;
      margin-bottom: 1.5rem;
    }
  }
}
