<nav class="top-bar">
  <div class="top-bar-left">
    <ul class="menu align-middle">
      <li><button class="menu-icon dark" type="button"></button></li>
      <li>
        <a href="#">
          <img
            src="assets/img/Combined Shape-3.svg"
            class="nav-logo"
            alt="D1 Logo"
          />
        </a>
      </li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu align-middle">
      <li>
        {{> buttons label="Get Started" color="btn--navy" size="btn--md" }}
      </li>
      <li class="cart-wrapper">
        <a href="#">
          <img src="assets/img/Bitmap.png" class="nav-cart" alt="Cart" />
          <span class="cart-count">1</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
